@{
    Layout = "~/Views/Shared/Global.cshtml";
    ViewBag.Title = "About";
}

<div id="aboutMainSection">
    <!-- Section for the words -->
    <div id="aboutWordWrapper">
        <h1>About us</h1>
        <p>24 years ago, March 24th 1993, we opened our doors to the public. Ever since we have been going strong, serving customers delicious, freshly cooked meals and cold drinks.</p>
        <p>Specalising in classic food: burgers, lasagna, steak, fish & chips, with a wide range of starters, desserts, and drinks, we guarantee you will enjoy your meal and time with us.</p>
        <p>Join us on Tuesday and Thursday for our special events: Band night - Come and listen to local bands, and Quiz Night - Bring a group of friends and test your knowledge for a cash prize.</p>

        <h2>Order on our website!</h2>
        <p>Use your phones or tablets to order a meal directly to your table (traditional waiters/waitresses are still available) from this website.</p>
        <p>Simply browse the menu, add items to your basket, and specify your table number to have the kitchen work on preparing your meal.</p>

        <h2>Book your tables</h2>
        <p>If you're planning on checking us our be sure to book your seats to ensure all of your guests have room at the table.</p>
        <p>Go to the homepage and fill out the form to proceed!</p>

        <h2>Contact Information</h2>
        <p>Phone: 01743 234567</p>
        <p>Email: The.Flying.Bell-Shrewsbury@gmail.com</p>
        <!--  &#64; = at sign but razor uses at sign as code -->
        <p>Follow our Twitter  &#64;TheFlyingBellProject2478</p>
    </div>


    <!-- Twitter Feed -->
    <div id="twitterFeed">
        <a class="twitter-timeline" href="https://twitter.com/wlv_uni" data-height="800" data-chrome="nofooter noborders noheader transparent noscrollbar">Tweets by Uni of Wolverhampton</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>