@{
    Layout = "~/Views/Shared/Global.cshtml";
    ViewBag.Title = "Test";
}

<div id="testHeader">
    <img src="~/Images/flyingBellLogo.png" alt="2 Burgers for the price of £14 or £8.99 each." /> 
</div>

<div id="testOffer">
    <img src="~/Images/homeOffer.png" alt="2 Burgers for the price of £14 or £8.99 each." /> 
</div>

<div id="testLeft">
    <img src="~/Images/findUs.png" alt="2 Burgers for the price of £14 or £8.99 each." /> 
</div>
<div id="testRight">
    <img src="~/Images/homeQuizNightLight.png" alt="2 Burgers for the price of £14 or £8.99 each." /> 
</div>

